/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nerko One', cursive;
    text-shadow: 1px 1px 2px #777;
}

body{
    background-color: lightblue;
}



/* titolo */
h1{
    font-size: 6em;
    color: white;
    text-align: center;
}



/* contenitore principale della pagina */
main{
    margin: 50px 0;
    text-align: center;
}



/* carte */
/* applico a tutti i figli di row le proprietà comuni */
.row > div{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 230px;
    border-radius: 10px;
    margin: 15px;
    background-color: white;
    box-shadow: 1px 1px 2px #777;
}

/* applico il pattern di sfondo a tutte le carte meno quella già scoperta */
.row div:not(#uncover){
    background-image: url("../img/pattern.png");
    background-size: contain;
}

/* dimesiono l'immagine come il suo contenitore */
img{
    display:block;
    width: 80%;
    margin: 20px auto;
}

/* posiziono la scritta della carta in basso centrale */
span{
    position: absolute;
    font-size: 2.2em;
    left: 50%;
    bottom: 8px;
    transform: translate(-50%, 0);
    white-space: nowrap;
}


/* colori diversi per le scritte */
.purple{
    color: purple;
}

.orange{
    color:orange;
}

.red{
    color:red;
}

.blue{
    color: blue;
}

.yellow{
    color: yellow;
}

.pink{
    color: pink;
}



/* flexo un po' di conoscenza sui selettori avanzati anche se incasina un po'*/
/* creo transizione al passaggio del mouse */
.row div:not(#uncover) > img, .row div:not(#uncover) > span{
    display: none;
}

.row div:not(#uncover):hover img, .row div:not(#uncover):hover span {
    display: block;
}
.row div:not(#uncover):hover{
    background: white;
}



/* footer */
footer{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
}
